.wind-toast {
    position: absolute;
    z-index: 100000;
    width: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    transition: opacity 0.7s;
}

.wind-toast-content {
    width: 100%;
    padding: 0 20px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    animation: appear 0.5s;
}

.opacity0 {
    opacity: 0;
}

@keyframes appear {
    0% {
        transform: translate(0, -100%);
    }
    100%{
        transform: translate(0, 0);
    }
}