// $theme-color = #d61d1f
$theme-color = #2196f3

div.mu-appbar
    background-color: $theme-color !important
.mu-bottom-item-active .mu-bottom-item-icon, .mu-bottom-item-active .mu-bottom-item-text
    color: $theme-color !important
.demo-raised-button
    background-color: $theme-color !important
    color: #fff !important